.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: 4px;

  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--page-color-black);

    &_text {
      font-size: 16px;
      font-weight: 400;
      line-height: 20.8px;
      color: var(--page-color-white);
      text-align: left;
    }

    & h2 {
      font-size: 16px;
      font-weight: 700;
      line-height: 21.6px;
      color: var(--page-color-white);
      margin: 0px !important;
      flex-grow: 1;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 21.6px;
    color: var(--page-color-black);
  }

  &__header {
    font-size: 16px;
    font-weight: 700;
    line-height: 21.6px;
    color: var(--page-color-black);
  }

  &__btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.5px;
    margin: 0px !important;
    color: var(--page-color-white);
    background-color: var(--page-color-dark-blue);
    border-radius: 5px;
    padding: 18px 45px;
    border: 1px solid var(--page-color-dark-blue);
    white-space: nowrap;
    outline: none !important;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.3px;
    transition: background-color 0.3s ease, color 0.3s ease,
      border-color 0.3s ease;

    &:hover {
      background-color: var(--page-color-ligth-blue) !important;
      color: var(--page-color-white) !important;
      border: 1px solid var(--page-color-ligth-blue) !important;
    }

    &:active {
      background-color: var(--page-color-black) !important;
      color: var(--page-color-white) !important;
      border: 1px solid var(--page-color-black) !important;
    }

    &:disabled {
      background-color: var(--page-color-gray) !important;
      color: var(--page-color-white) !important;
      border: 1px solid var(--page-color-gray) !important;
      cursor: default !important;
    }
  }

  &__wrapper {
    min-height: 200px;

    &_error {
      min-height: auto;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_header {
      padding: 8px 10px;
      border-radius: 5px;
      background-color: var(--page-color-gray);
      font-size: 16px;
      font-weight: 700;
      line-height: 21.6px;
      color: var(--page-color-black);
    }

    &_wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-left: 10px;
    }

    &_text {
      font-size: 16px;
      font-weight: 700;
      line-height: 21.6px;
      color: var(--page-color-black);
    }

    &_subtext {
      font-size: 16px;
      font-weight: 400;
      line-height: 20.8px;
      color: var(--page-color-link);
      margin-top: 6px;
    }

    &_container {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &_desc {
      font-size: 16px;
      font-weight: 400;
      line-height: 21.6px;
      color: var(--page-color-link);
    }
  }

  &_request .form__header {
    background-color: var(--page-color-dark-blue);
  }

  &_request .form__item_header {
    color: var(--page-color-dark-blue);
  }
}

@media screen and (max-width: 576px) {
  .form {
    gap: 20px;

    &__header {
      margin-bottom: 4px;

      & h2 {
        font-size: 16px;
        line-height: 21.6px;
      }
    }

    &__text {
      font-size: 14px;
      line-height: 18.9px;
    }

    &__btn {
      margin-top: 4px !important;
    }

    &__item_header {
      font-size: 14px;
      line-height: 18.9px;
    }

    &__item_text {
      font-size: 14px;
      line-height: 18.2px;
    }

    &__item_help {
      font-size: 14px;
      line-height: 18.2px;
    }
  }
}
