.radio-button {
  margin: 0;
  padding: 4px 4px 4px;

  &__label {
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin: 0;
    cursor: pointer;

    &:hover .radio-button__value {
      border-color: var(--page-color-red);
    }

    &:hover .radio-button__text {
      color: var(--page-color-red);
    }

    &:active .radio-button__value {
      border-color: var(--page-color-black);
      background-color: var(--page-color-black);
    }

    &:active .radio-button__text {
      color: var(--page-color-black) !important;
    }
  }

  & input {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &__text {
    display: inline-flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: var(--page-color-black);
    transition: color 0.3s;
  }

  &__value {
    position: relative;
    flex: 0 0 17px;
    width: 17px;
    height: 17px;
    margin: 4px 0px 0px 0px;
    padding-top: 4px;
    background-color: var(--page-color-white);
    border: 1px solid var(--page-color-gray);
    border-radius: 5px;
    transition: border-color 0.3s;
  }

  &_checked &__value {
    background-color: var(--page-color-black) !important;
    border-color: var(--page-color-black) !important;
  }

  &_checked &__text {
    color: var(--page-color-black) !important;
  }
}

@media screen and (max-width: 576px) {
  .radio-button__label {
    gap: 8px;
  }
}
