.modal {
  font-family: 'Verdana', sans-serif !important;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--page-color-dark-blue-opacity8);
  opacity: 0.8;
  outline: 0;
  pointer-events: none;
  z-index: 1001;

  &__wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 95vh;
    max-width: 800px;
    width: 95%;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--page-color-white);
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 50, 75, 0.02),
      0px 3px 7px 0px rgba(0, 50, 75, 0.03),
      9px 5px 15px 0px rgba(0, 50, 75, 0.03),
      13px 11px 29px 0px rgba(0, 50, 75, 0.04),
      3px 31px 80px 0px rgba(0, 50, 75, 0.06);
  }

  &__content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }

  &__header {
    position: sticky;
    top: 0px;
    background-color: var(--page-color-white);
    z-index: 1000;
    padding-bottom: 20px;
  }

  &__body {
    position: relative;
    overflow-y: auto;
  }

  &.show {
    pointer-events: all;
    animation: fadeInOpacity 0.2s forwards;

    & .modal-clever-content {
      animation: fadeIn 0.2s forwards;
    }
  }

  &.hide {
    animation: fadeOutOpacity 0.2s forwards;
    pointer-events: none;

    & .modal-clever-content {
      animation: fadeOut 0.2s forwards;
    }
  }
}

.modal-header-close {
  display: block;
  width: 24px;
  height: 24px;
  outline: none !important;
  border: none !important;
  background-color: transparent;
  color: transparent;
  padding: 0px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;
  transition: background-color 0.3s ease;

  & svg {
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: var(--page-color-gray);
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fadeOut {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

@media screen and (max-width: 767px) {
  body:has(.modal.show) {
    overflow: hidden;
  }
}

@media screen and (max-width: 576px) {
  .modal__wrapper {
    padding: 16px;
  }

  .modal__header {
    padding-bottom: 0px;
    margin-bottom: 16px;

    & h3 {
      padding-top: 25px;
    }
  }
}
