.header {
  margin: 0 auto;
  width: 100%;
  max-width: var(--page-max-width-layout);
  max-height: 472px;
  height: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--page-color-black);
  }

  &__image {
    height: 100%;
    max-height: 200px;
    width: 100%;

    & img {
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__icon {
    width: 100px;
    height: 100px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0px auto;
    padding: 30px 20px 40px 20px;

    & svg {
      flex-shrink: 0;
    }
  }

  &__title {
    margin: 0px !important;
    font-size: 60px;
    font-weight: 400;
    line-height: 73px;
    color: var(--page-color-white);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;

    &_red {
      color: var(--page-color-red);
    }
  }
}

@media screen and (max-width: 960px) {
  .header__title {
    font-size: 56px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-height: 100%;
    height: auto;
  }

  .header__container {
    gap: 20px;
    padding: 24px 16px;
  }

  .header__image {
    max-height: 100%;
  }

  .header__icon {
    width: 50px;
    height: 50px;
  }

  .header__title {
    font-size: 28px;
    line-height: 34px;
  }
}

@media screen and (max-width: 576px) {
  .header__container {
    flex-direction: column;
    gap: 10px;
  }

  .header__title {
    font-size: 20px;
    line-height: 24.3px;
  }
}
