.support {
  margin-bottom: 120px;

  &__wrapper {
    padding: 80px;
    background-color: var(--page-color-black);
    border-radius: 10px;
  }

  &__title {
    margin: 0px 0px 40px 0px !important;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    color: var(--page-color-white);
    max-width: 800px;

    &_red {
      color: var(--page-color-red);
    }
  }

  &__row {
    display: flex;
    gap: 50px;
  }

  &__box {
    display: flex;
    gap: 30px;
    padding: 20px 30px 20px 0px;

    &_m {
      margin: 30px 30px 20px 0px;
    }
  }

  &__img {
    width: 100px;
    height: 100px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.76px;
    color: var(--page-color-gray);
    letter-spacing: 0.4px;

    &_b {
      font-weight: 700;
      color: var(--page-color-white);
      line-height: 23.4px;
      letter-spacing: 1px;
    }

    &_m {
      max-width: 920px;
    }
  }

  &__link {
    color: var(--page-color-ligth-blue);
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: var(--page-color-red);
    }

    &:active {
      color: var(--page-color-link);
    }
  }
}

@media screen and (max-width: 960px) {
  .support {
    margin: 50px 0px;

    &__wrapper {
      padding: 40px 60px 40px 40px;
    }

    &__text_m {
      max-width: 700px;
      padding-right: 60px;
    }
  }
}

@media screen and (max-width: 767px) {
  .support {
    margin: 36px 0px;

    &__title {
      font-size: 28px;
      line-height: 32px;
    }

    &__container {
      flex-direction: column;
      gap: 16px;
    }

    &__wrapper {
      padding: 24px 64px 24px 24px;
    }

    .support__box_m {
      margin: 0px;
    }

    &__img {
      width: 80px;
      height: 80px;
    }
  }
}

@media screen and (max-width: 576px) {
  .support__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px !important;
  }

  .support__wrapper {
    padding: 16px;
  }

  .support__box {
    flex-direction: column;
    padding: 16px 0px 0px 0px;
    gap: 16px;

    &_m {
      margin: 0px 0px 14px 0px;
    }
  }

  .support__img {
    align-self: center;
    width: 60px;
    height: 60px;
  }

  .support__text {
    font-size: 16px;
    line-height: 21.6px;

    &_b {
      font-size: 18px;
    }

    &_m {
      max-width: none;
      padding-right: 0px;
    }
  }
}
