.reference {
  margin-bottom: 120px;

  &__title {
    margin: 0px 0px 20px 0px !important;
    font-size: 36px;
    font-weight: 400;
    line-height: 46.8px;
    color: var(--page-color-dark-blue);

    &_red {
      color: var(--page-color-red);
    }
  }

  &__wrapper {
    display: flex;
    gap: 40px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 50, 75, 0.02),
      0px 3px 7px 0px rgba(0, 50, 75, 0.03),
      9px 5px 15px 0px rgba(0, 50, 75, 0.03),
      13px 11px 29px 0px rgba(0, 50, 75, 0.04),
      3px 31px 80px 0px rgba(0, 50, 75, 0.06);
  }

  &__img {
    flex-shrink: 0;
    width: 420px;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  &__content {
    padding: 50px 60px 60px 20px;
  }

  &__text {
    margin: 0px !important;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.8px;
    color: var(--page-color-link);
    letter-spacing: 0.3px;

    &_bold {
      font-weight: 700;
      color: var(--page-color-black);
    }
  }
}

@media screen and (max-width: 1080px) {
  .reference__img {
    height: 450px;
    align-self: center;
  }

  .reference__content {
    padding: 40px 40px 40px 20px;
  }
}

@media screen and (max-width: 960px) {
  .reference {
    margin: 50px 0px;

    &__wrapper {
      margin-top: 30px;
      gap: 20px;
    }

    &__content {
      padding: 20px;
    }

    &__img {
      max-width: 330px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .reference {
    margin: 36px 0px;

    &__title {
      font-size: 28px;
      line-height: 32px;
    }

    &__wrapper {
      flex-direction: column;
    }

    &__img {
      height: 300px;
    }
  }
}

@media screen and (max-width: 576px) {
  .reference__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px !important;
  }

  .reference__text {
    font-size: 16px;
    line-height: 20.8px;
  }

  .reference__wrapper {
    margin-top: 16px;
    gap: 16px;
  }

  .reference__content {
    padding: 8px 16px;
  }
}
