.competences {
  margin-bottom: 120px;

  &__wrapper {
    padding: 60px;
    background-color: var(--page-color-gray);
    border-radius: 10px;
  }

  &__title {
    margin: 0px !important;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    color: var(--page-color-dark-blue);
    max-width: 650px;

    &_red {
      color: var(--page-color-red);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    gap: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    margin: 0px !important;
    color: var(--page-color-link);
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 25px;
    border: 1px solid var(--page-color-link);
    width: 140px;
    white-space: nowrap;
    outline: none !important;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.3px;
    transition: background-color 0.3s ease, color 0.3s ease,
      border-color 0.3s ease;

    & svg {
      width: 12px;
      height: 12px;

      & path {
        transition: all 0.3s ease;
      }
    }

    &:hover {
      background-color: transparent !important;
      color: var(--page-color-dark-blue) !important;
      border: 1px solid var(--page-color-dark-blue) !important;

      & svg path {
        stroke: var(--page-color-dark-blue);
      }
    }

    &:active {
      background-color: transparent !important;
      color: var(--page-color-red) !important;
      border: 1px solid var(--page-color-red) !important;

      & svg path {
        stroke: var(--page-color-red);
      }
    }
  }

  &__table {
    margin-top: 30px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    &_wrapper {
      flex: 1;
      overflow-y: auto;
      padding: 2px 0;
    }

    &_row {
      display: flex;
      gap: 5px;
    }

    &_text-red {
      font-size: 16px;
      font-weight: 700;
      line-height: 21.6px;
      color: var(--page-color-red);
    }

    &_border-t {
      border-top: none !important;
    }

    &_border-b {
      border-bottom: none !important;
    }

    &_padding-a {
      padding: 0px 20px 10px 20px !important;
    }

    &_padding-b {
      padding: 0px 0px 20px 0px !important;
    }

    & table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 0 1px var(--page-color-link);

      & th {
        background-color: rgba(141, 142, 145, 0.9);
        vertical-align: bottom;
        padding: 12px 10px;
        border-right: 1px solid var(--page-color-white);
        border-left: 1px solid var(--page-color-link);
        border-bottom: 1px solid var(--page-color-link);
        font-size: 12px;
        font-weight: 400;
        line-height: 15.6px;
        color: var(--page-color-white);
        text-align: center;
        white-space: nowrap;

        &:first-child {
          width: 280px;
        }

        &:nth-child(2) {
          width: 55px;
        }

        &:last-child {
          border-right: 1px solid var(--page-color-link);
          min-width: 430px;
        }
      }

      & td {
        padding: 20px 10px 10px 20px;
        background-color: var(--page-color-white);
        border: 1px solid var(--page-color-link);
        color: var(--page-color-black);
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        vertical-align: top !important;

        &:first-child {
          padding: 20px;
          border-bottom: none;
        }
      }

      & tr:last-child td {
        border-bottom: none;
      }
    }
  }

  &__text {
    font-weight: 400;
    line-height: 31.2px;
    font-size: 24px;
    color: var(--page-color-black);
    margin-top: 40px;
  }

  &__link {
    color: var(--page-color-ligth-blue);
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: var(--page-color-red);
    }

    &:active {
      color: var(--page-color-link);
    }
  }
}

@media screen and (max-width: 960px) {
  .competences {
    margin: 50px 0px;

    &__wrapper {
      padding: 40px;
    }
  }
}

@media screen and (max-width: 767px) {
  .competences {
    margin: 36px 0px;

    &__title {
      font-size: 28px;
      line-height: 32px;
    }

    &__container {
      flex-direction: column;
      gap: 16px;
    }

    &__wrapper {
      padding: 24px;
    }

    &__text {
      margin-top: 20px;
      font-size: 22px;
      line-height: 29.2px;
    }

    &__table table th:last-child {
      width: 300px;
      min-width: 300px;
    }
  }
}

@media screen and (max-width: 576px) {
  .competences__title {
    font-size: 20px;
    line-height: 24px;
  }

  .competences__wrapper {
    padding: 16px;
  }

  .competences__table {
    margin-top: 24px;

    & table td:last-child {
      font-size: 15px;
      line-height: 19.5px;
    }
  }

  .competences__btn {
    width: 100%;
  }

  .competences__text {
    font-size: 18px;
    line-height: 23.4px;
  }
}
